################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientAppExample/bin/
/ClientAppExample/obj/
/ProductHuntAPI/bin/
/ProductHuntAPI/obj/
/*.sln
/ClientAppExample/config.json
