################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientAppExample/bin/Debug/netcoreapp2.1
/ProductHuntAPI/bin/Debug/netcoreapp2.1
*.sln
